@use 'colors' as *;

@mixin mixinBtn {
	width: 150px;
	padding: 1rem;
	font-size: 2rem;
	background-color: $orange;
	margin-bottom: 5rem;
	text-transform: uppercase;
	border: none;
	border-radius: 8px;
	color: $font-color;
	transition: background-color 0.3s;
	cursor: pointer;

	&:hover {
		background-color: $light-orange;
	}
}

@mixin boxLayout {
	height: 100%;
	background-color: $light-green;
	border-radius: 8px;
}
