@use 'colors' as *;
@use 'mixin' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	color: $font-color;
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: $light-gray;
}

.btn {
	@include mixinBtn;
}

.main {
	position: relative;
	width: 1500px;
	height: 800px;
	background-color: $grey;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 17px 53px -9px rgba(66, 68, 90, 0.4);
	&__title {
		padding-top: 1rem;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 3rem;
	}

	&__shadow {
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(66, 68, 90, 0.4);
		border-radius: 8px;

		&-active {
			display: block;
		}
	}
}

.modal {
	position: absolute;
	width: 500px;
	height: 500px;
	border-radius: 8px;
	background-color: $light-gray;
	transform: translateX(-300%);
	transition: transform 0.4s;

	&__close-btn {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 4rem;
		padding: 3rem;
		cursor: pointer;
	}

	&__active {
		transform: translate(0);
	}

	&__wrapper {
		width: 500px;
		height: 500px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__title {
		text-transform: uppercase;
		margin-bottom: 5rem;
		font-size: 2rem;
	}

	&__label {
		margin-bottom: 1.5rem;
		text-transform: uppercase;
		font-weight: bold;
	}

	&__input {
		margin-bottom: 3rem;
		padding-left: 2rem;
		@include modalBtn;
		&:hover {
			background-color: $light-green;
		}
	}

	.add__picture {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.input__picture {
		opacity: 0;
		width: 0.1px;
		height: 0.1px;
		position: absolute;
		&-label {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			@include modalBtn;
			margin-bottom: 3rem;
			cursor: pointer;
		}
	}

	.btn__approve {
		display: none;
		margin-top: 3rem;
		width: 300px;
		height: 50px;
		@include modalBtn;
		cursor: pointer;
		&-active {
			display: block;
		}
	}

	.btn__clear {
		display: none;
		margin-top: 3rem;
		width: 300px;
		height: 50px;
		@include modalBtn;
		background-color: $light-orange;
		cursor: pointer;
		&:hover {
			background-color: $orange;
		}
		&-active {
			display: block;
		}
	}
}

.box {
	width: 1400px;
	height: 350px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 3rem;

	&__wrapper {
		width: 1400px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__team {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		@include boxLayout;
	}

	.team {
		&__player {
			position: relative;
			width: 100px;
			height: 140px;
			background-color: $light-orange;
			border-radius: 8px;
			background-image: url(../img/Dudziewicz_Marcin.jpg);
			background-position: center;
			background-size: cover;
			margin-right: 1rem;
			&-shadow {
				display: none;
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(66, 68, 90, 0.4);

				&-active {
					display: block;
				}
			}
			&-container {
				position: absolute;
				width: 100%;
				height: 20%;
				background-color: black;
				opacity: 0.4;
				bottom: 0;
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;
			}
			&-name {
				position: absolute;
				margin-left: auto;
				margin-right: auto;
				left: 0;
				right: 0;
				bottom: 0.5rem;
				text-align: center;
				color: $grey;
			}
		}
	}

	&__pitch {
		width: 60%;
		@include boxLayout;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		&-field {
			text-align: center;
			// border: 1px solid black;
			&-title {
				width: 95%;
				height: 15%;
				background-color: $light-orange;
				display: flex;
				justify-content: center;
				align-items: center;
				text-transform: uppercase;
				font-size: 1.5rem;
				border-radius: 8px;
				margin: 0.5rem;
				color: $light-font-color;
			}
		}
	}

	&__button {
		width: 17%;
		@include boxLayout;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.btn {
			@include mixinBtn;
		}
	}

	&__delete {
		width: 17%;
		@include boxLayout;
		display: flex;
		justify-content: center;
		align-items: center;
		&-icon {
			font-size: 10rem;
		}
	}
}

.top__box {
	height: 200px;
}

.bottom__box {
	height: 400px;
}
